.team-container{
  /* background-color: black; */
  margin-top: 40px;
}
.gsal{
  margin-top: 40px !important;
  display: flex;
  /* background-color: red; */
  width: 90%;
  margin: 0 auto;
}
.gsal-photo{
  /* background-color: red; */
  width: 40%;
}
.gsal-description{
  /* background-color: purple; */
  width: 60%;
}
.gsal-info{
  color: black;
  font-weight: 100;
}
.carousel{
  background-color: #972C26;
  margin-top: 20px;
  padding: 20px;
  /* overflow: hidden; */
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
}
.devs{
  /* background-color: grey; */
  /* white-space: nowrap; */
  height: 450px;
  /* width: 100%; */
  display: flex;
  /* overflow: hidden; */
  justify-content: center;
  overflow-x: auto;
  scroll-snap-type: auto;
}
.carousel-item{
  /* transition: transform 0.3s; */
  /* position: absolute; */
  /* scroll-snap-align: start; */
  /* overflow-x: scroll; */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 300px;
  margin: 20px;
}

.text{
  white-space: normal;
}
.arrows{
  display: flex;
  justify-content: space-evenly;
}
.arrows>button{
  background-color: #972C26;
  border: none;
  font-size: 40px;
  color:rgb(176, 174, 174);
}