.team-container{
  /* background-color: black; */
  margin-top: 40px;
}
.gsal{
  margin-top: 40px !important;
  display: flex;
  /* background-color: red; */
  width: 90%;
  margin: 0 auto;
}
.gsal-photo{
  /* background-color: red; */
  width: 40%;
}
.gsal-description{
  /* background-color: purple; */
  width: 60%;
}
.gsal-info{
  color: black;
  font-weight: 100;
}
.devs-container{
  background-color: #972C26;
  display: flex;
  justify-content: center;
}
.devs{
  background-color: grey;
  width: 300px;
  height: 350px;
  margin: 30px;
}