.testimonial-container{
    background-color:  #A41E1E;
    min-height: 350px;
    margin-top: 29px;
    padding-top: 100px;
    padding-bottom: 100px;
   width: 100%;

}


p{
  color: #fffafa; 
  font-size: 24px;
  letter-spacing: -0.7px;
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
  font-family: "Inter", sans-serif; 
  
}
h2{
  font-size: 20px;
  letter-spacing: -0.5px;
  line-height: 1.4;
  color: #fffafa;
  font-weight: 600;
  padding-left: 45px
}

h3{
color: #fffafa;
font-size: 16px;
letter-spacing: 0em;
line-height: 1.5;
font-weight: 500;
padding-left: 45px
}

.avatar {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    display: block;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-left: -50px;
    margin-top: -55px;
  }

/* Laptop Styling */
  @media only screen and (min-width: 1024px) and (max-width: 1440px) {

    .testimonial-content-div{
      width: 850px;
      margin-left: -177px;
     } 
      
     }

    
  /* Mobile L-S Styling -ok */
  @media screen and (min-width: 320px) and (max-width: 425px){
    
    .avatar{
   margin-top: 1px;
   margin-left:10px;
    }      
 
  }

/* only tablet styling -okay */
  @media only screen and (width: 768px){
    
   .testimonial-content-div{
   width: 600px;
   margin-left: -177px;
  }

}